body {
	max-width:100%;
	font-family: 'gravity-ultralight', sans-serif; 
	/*background-color: #f3ecf9 !important;*/
	background-image: url(../img/sfondo_vuoto.png);
	max-background-size: 300%; 
	background-position: center;
	scroll-behavior: smooth;
}

#indietro {
	color: #8d42c7; 
	text-align: left; 
	display: left; 
	list-style-type: none !important; 
	padding-top:1%; padding-left: 1%; padding-bottom: 1%}

#titolo {color:#f3ecf9; margin-top: 5%; margin-bottom: 5%; font-size: 50px}



main {padding: 5%; background-color: #f3ecf9; border-radius: 20px; margin-right: 3%; margin-left: 3%}

li {list-style-type: decimal;}
#sottomenu {list-style-type: disc; color:#8d42c7; font-size: 20px}

#link {color:#8d42c7; text-decoration: none; }
#link:hover {color: #D43BB4}

#abstract  {color:#8d42c7;}
#PMP {color:#8d42c7;}
#benchmarking  {color:#D43BB4;}
#struttura {color:#D43BB4;}
#strumenti {color:#D43BB4;}
#communication {color:#8d42c7;}
#background {color:#D43BB4;}
#obiettivi {color:#D43BB4;}
#target {color:#D43BB4;}
#promozione {color:#D43BB4;}
#valutazione {color:#D43BB4;}

p {text-align: justify;}

#architettura {max-width: 90% !important;}
#wireframe {max-width:65% !important;}

#elencolinguaggi {list-style-type: none;}

h5 {color:#8d42c7 !important;}

#torna {
	text-align: center;
	border-radius: 20px;
	font-size: 18px;
	width: 150px;
	display:block;
	background-color:#8c42d7; 
	border-color: #8c42d7;
	margin-top: 15%;
	margin-bottom: 20%;
}
#torna:hover {background-color: #D43BB4; border-color: #D43BB4; color:#f3ecf9;}
.scrittabianca {text-decoration: none; color: #f3ecf9;}
.scrittabianca:hover {text-decoration: none; color: #f3ecf9;}

#indice {font-size: 20px; text-align: center}

#immagini {max-width: 60% !important; margin-bottom: 2%}

#margine {max-width: 60% !important; margin-left:3%; margin-bottom: 2%}